*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,Helvetica,sans-serif;

    min-height:100vh;

    background:
    linear-gradient(135deg,#1b0033,#000814,#240046);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:25px;

}


.card{

    width:100%;
    max-width:700px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:25px;

    padding:35px;

    border:1px solid rgba(255,255,255,.15);

    box-shadow:
    0 0 35px rgba(0,255,255,.18);

}


h1{

    text-align:center;

    font-size:42px;

}


.subtitle{

    text-align:center;

    opacity:.8;

    margin-top:10px;

}


.counter{

    margin-top:35px;

    text-align:center;

    font-size:26px;

}


.message{

    margin-top:35px;

    font-size:34px;

    text-align:center;

    line-height:1.5;

}


.random{

    margin-top:30px;

    padding:20px;

    border-radius:18px;

    background:rgba(255,255,255,.06);

    text-align:center;

    font-size:22px;

}


.stats{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

    margin-top:35px;

}


.stat{

    padding:18px;

    text-align:center;

    border-radius:15px;

    background:rgba(255,255,255,.05);

}


button{

    width:100%;

    margin-top:18px;

    padding:16px;

    border:none;

    border-radius:15px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}


button:hover{

    transform:scale(1.03);

}


.beer{

    background:#ffb703;

}


.laugh{

    background:#06d6a0;

}


.highfive{

    background:#00b4d8;

}


.dance{

    background:#f72585;

}

.footer{

    margin-top:30px;

    text-align:center;

    opacity:.7;

}
#achievement {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.6);
  z-index:999;
}

.hidden {
  display:none!important;
}

.achievement-box {
  padding:30px;
  border-radius:25px;
  background:white;
  text-align:center;
  animation:pop .4s ease;
}

@keyframes pop {
 from {
  transform:scale(.5);
  opacity:0;
 }
 to {
  transform:scale(1);
  opacity:1;
 }
}

.wheel-container {
text-align:center;
margin-top:20px;
}

.pointer {
font-size:35px;
text-align:center;
}


#wheel {
width:220px;
height:220px;
border-radius:50%;
margin:20px auto;

display:flex;
align-items:center;
justify-content:center;

font-size:45px;

background:
conic-gradient(
#ff0066 0deg 60deg,
#ffcc00 60deg 120deg,
#00ccff 120deg 180deg,
#00ff66 180deg 240deg,
#9900ff 240deg 300deg,
#ff6600 300deg 360deg
);

border:10px solid white;

box-shadow:
0 0 25px rgba(255,255,255,.8);

transition:transform 2s cubic-bezier(.17,.67,.12,1.02);
}


.rotate {
transform:rotate(720deg);
}


#spin {
margin-top:20px;
padding:15px 25px;
font-size:20px;
}
